ion-content{
    overflow: hidden;
}


.doubleWidth{
    width: 10.3em;
}

ion-input{
    text-align: end;
    font-size: 2em;
    margin-top: 0.2em;
    margin-right: 2em;
}

ion-button{
    width: 5em;
    height: 4em;
    font-size: 0.9em;
}

ion-grid{
    width: 30em;
    text-align: center;
}